ENVIRONMENT="development.MBPI"
# ENVIRONMENT="development.HOME"

DEBUG="boolean (True or False)"
SECRET_KEY="Django Secret Key"

DB_ENGINE_MBPI="db_engine"
DB_NAME_MBPI="db_name"
DB_USER_MBPI="db_user"
DB_PASSWORD_MBPI="db_password"
DB_HOST_MBPI="db_host"
DB_PORT_MBPI="db_port"