{% extends 'incoming_fg_app/base.html' %}
{% load static %}

{% block incoming_fg_content %}
  {% if messages %}
    {% for message in messages %}
      <div 
        class="django-message"
        data-message="{{ message|escapejs }}"
        data-redirect="{% url 'endorsement:list' %}"
        style="display: none;">
      </div>
    {% endfor %}
  {% endif %}

  <div class="page-body">
    <div class="container-xl">
      <div class="row">
        <!-- Form Column (Left) -->
        <div class="col-md-5">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">{{ title }}</h3>
            </div>
            <div class="card-body">
              <form action="" method="post" id="endorsement-t1-form">
                {% csrf_token %}
                {% for field, label in field_with_labels %}
                  <div class="mb-3">
                    <label for="{{ field.id_for_label }}" class="form-label">
                      {{ label }}
                    </label>
                    {{ field }}
                    {% if field.errors %}
                      <div class="invalid-feedback d-block">
                        {{ field.errors|striptags }}
                      </div>
                    {% endif %}
                  </div>
                {% endfor %}
                <div class="form-footer">
                  <button type="submit" class="btn btn-primary">Create</button>
                </div>
              </form>
            </div>
          </div>
        </div>

        <!-- Table Column (Right) -->
        <div class="col-md-7">
          {% include 'incoming_fg_app/partials/_endorsement_table.html' %}
        </div>
      </div>
    </div>
  </div>

  {% include 'incoming_fg_app/partials/_modal.html' %}
{% endblock %}

{% block incoming_fg_scripts %}
  <script src="{% static 'incoming_fg_app/js/script.js' %}"></script>
{% endblock %}
