<div class="modal modal-blur fade" id="messageModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body text-center py-4">
        <div class="text-secondary">
          <strong id="messageModalText">Entry successfully created.</strong>
        </div>
      </div>
      <div class="modal-footer">
        <div class="w-100">
          <div class="row">
            <div class="col">
              <button class="btn btn-outline-secondary w-100" id="cancelBtn">
                Go to list
              </button>
            </div>
            <div class="col">
              <button class="btn btn-primary w-100" id="stayBtn">
                Add another
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
